<br>
<div class="container d-flex justify-content-center align-items-center vh-60">
  <div class="custom-form-container">
    <form #myForm="ngForm">
      <h3>Search Train</h3>
      <div class="row">
        <div class="col">
          <label for="source">Source</label><br />
          <input
            type="text"
            name="source"
            id="source"
            [(ngModel)]="sourceName"
            required
            #source="ngModel"
            class="form-control"
            [ngClass]="{ 'is-invalid': source.touched && source.errors }"
          />
          <small *ngIf="source.touched && source.errors && source.errors['required']" class="text-danger">Source is required</small>
        </div>
        <div class="col">
          <label for="destination">Destination</label><br />
          <input
            type="text"
            name="destination"
            id="destination"
            [(ngModel)]="destinationName"
            required
            #destination="ngModel"
            class="form-control"
            [ngClass]="{ 'is-invalid': destination.touched && destination.errors }"
          />
          <small *ngIf="destination.touched && destination.errors && destination.errors['required']" class="text-danger">Destination is required</small>
        </div>
        <div class="col">
          <label for="Date">Date</label><br />
          <input
            type="date"
            name="Date"
            id="Date"
            [(ngModel)]="date"
            required
            #Date="ngModel"
            class="form-control"
            [ngClass]="{ 'is-invalid': Date.touched && Date.errors }"
            placeholder="YYYY-MM-DD"
          />
          <small *ngIf="Date.touched && Date.errors && Date.errors['required']" class="text-danger">Date is required</small>
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="searchData()" [disabled]="!myForm.valid" class="btn btn-search">Search</button>
    </form>
  </div>
</div>


<div class="container mt-4">
  <h2 style="font-weight: bold; color: #333;">Trains List</h2>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let t of td">
      <div class="custom-train-card d-flex flex-column h-100">
        <div class="card-body">
          <h5 class="card-title">{{ t.name }} (Train No: {{ t.trainNo }})</h5>
          <hr>
          <p class="card-text">
            <strong>Boarding Station:</strong> {{ t.boardingStation }}<br>
            <strong>Destination:</strong> {{ t.destination }}<br>
            <strong>Timing:</strong> {{ t.timing }}<br>
            <strong>Date:</strong> {{ t.date }}<br>
            <strong>Fare:</strong> {{ t.fair }}<br>
            <strong>Tickets Available:</strong> {{ t.ticketsAvailable }}
          </p>
          <button (click)="bookTrain(t.trainNo, t.fair)" class="btn btn-warning mt-auto">Book Train</button>
        </div>
      </div>
    </div>
  </div>
</div>
