/* Styles for the form container */
.form-container {
  border: 1px solid black;
  padding: 20px;
  max-width: 400px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
}

.form-container h3 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.form-control {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
}

/* Styles for error messages */
.text-danger {
  color: #d32f2f;
}

.btn-book:hover {
  background-color: #ffca28;
}

.form-row {
  margin-bottom: 10px;
}

.btn-search {
  margin-top: 15px;
}

.custom-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: box-shadow 0.3s ease;
}

.custom-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 0.5rem;
}

hr {
  border-top: 1px solid #ccc;
  margin: 0.75rem 0;
}

.card-text {
  margin-bottom: 0;
}

.btn {
  margin-top: auto;
}
