<div class="about-container">
    <h2>About Us</h2>
  
    <div class="about-content">
      <img src="https://m.media-amazon.com/images/I/712E12DKsXL.png" alt="Train Image" class="train-image">
      <p>
        Railway Reservation is a leading online platform for booking train tickets. Our goal is to provide a seamless and convenient experience for travelers to book their train tickets from the comfort of their homes.
      </p>
    </div>
  
    <div class="features">
      <div class="feature-item">
        <i class="fas fa-calendar-alt"></i>
        <h3>Easy Booking</h3>
        <p>Our user-friendly interface allows you to book train tickets in just a few clicks. Say goodbye to long queues and enjoy a hassle-free booking process.</p>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="feature-item">
        <i class="fas fa-globe"></i>
        <h3>Wide Coverage</h3>
        <p>With a wide network of railway operators and trains, we offer a comprehensive selection of train routes and schedules to meet your travel needs.</p>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="feature-item">
        <i class="fas fa-tags"></i>
        <h3>Easy To Use</h3>
        <p>Our User-Friendly UI make easire to navigate and use our portal for each and every user</p>
      </div>
    </div>
  
    <div class="testimonial">
      <h3>What Our Customers Say</h3>
      <div class="quote">
        <i class="fas fa-quote-left"></i>
        <p>
          "I have been using Railway Reservation for all my train bookings, and I'm extremely satisfied with their service. The platform is easy to use."
        </p>
        <div class="author">- Hrishikesh Sarate</div>
      </div>
    </div>
  
  </div>
  