<div class="form" style="border: 1px solid black;">
    <form #myForm="ngForm">
      <h3>Delete Train Details</h3>
      <label for="cancelId">Enter Train ID</label><br />
      <input
        type="numbers"
        name="deleteId"
        id="deleteId"
        [(ngModel)]="deleteid"
        required
        #deleteId="ngModel"
        [ngClass]="{ 'is-invalid': deleteId.touched && deleteId.errors }"
      />
        <small *ngIf="deleteId.touched && deleteId.errors && deleteId.errors['required']">Train ID is required</small>
        <br>
        <br>
        

      <button mat-raised-button color="accent" (click)="deleteTrain()" [disabled]="!myForm.valid">Delete</button>
    </form>
  </div>